*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
body {
      color: hsl(240, 38%, 20%);
      font-family: 'Inter' , sans-serif;
      font-size: 20px;
      height: 100vh;
      max-width: 1440px;
  }
.container {
      align-items: center;
      background-size: 70%;
      background: url(../images/pattern-curve.svg) no-repeat left bottom;
      display: flex;
      justify-content: center;
      min-height: 100vh;
      width: 100%;
  }
.slider {
      display: block;
      height: 100%;
      margin: 0 auto;
      max-width: 850px;
      position: relative;
      width: 100%;
  }
.slide {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      width: 100%;
  }
.img {
      background-size: contain;
      background: url(../images/pattern-bg.svg) no-repeat center;
      height: 100%;
      margin: 0 auto;
      padding: 40px;
      width: fit-content;
  }
.img img {
      border-radius: 5px;
      box-shadow: 5px 5px 15px 0 hsl(240, 14%, 77%);
      height: 100%;
      width: 300px;
  }
.testimonial {
      background-size: 65px;
      background: url(../images/pattern-quotes.svg) no-repeat top center;
      line-height: 27px;
      margin-top: 30px;
      padding: 30px 0;
      width: 320px;
  }
.author {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      margin-top: 20px;
  }
.buttons {
      background-color: #ffffff;
      border-radius: 50px;
      box-shadow: -20px 12px 20px 20px hsl(240, 14%, 77%, 0.52);
      height: 45px;
      left: 50%;
      position: absolute;
      top: 315px;
      transform: translateX(-50%);
      width: 90px;
  }
.prev, .next {
      cursor: pointer;
      display: inline-block;
      height: 100%;
      position: absolute;
      width: 50%;
  }
.prev:hover, .next:hover {
      background-color: hsl(240, 14%, 77%, 0.52);
  }
.prev {
      border-radius: 50px 0 0 50px;
      left: 0;
  }
.next {
      border-radius: 0 50px 50px 0;
      right: 0;
  }
.prev::after, .next::after {
      background: no-repeat center;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
  }
.prev::after {
      background-image: url(../images/icon-prev.svg);
  }
.next::after {
      background-image: url(../images/icon-next.svg);
  }
span {
      color: hsl(240, 18%, 77%);
      display: block;
      font-weight: 500;
  }
@media only screen and (max-width: 1440px){
    .container {
          margin: 0 auto;
      }
    .slide {
          flex-direction: row;
      }
    .testimonial {
          background-position: top left 50px;
          background-size: 75px;
          margin: 0 auto;
          text-align: left;
          width: 370px;
      }
    .img {
          margin-left: -152px;
          z-index: -1;
      }
    span {
          display: inline;
      }
    .buttons {
          left: 52%;
          transform: none;
      }
  }