*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(..//intro-component-with-signup-form-master/images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%);
    font-size: 16px;
    font-family: Poppins,sans-serif;
    height: 100vh;
    margin: 0%;
    min-width: 1440px;
    padding: 0%;

}

.heading{
    color: white;
    font-size: 22px;
    font-weight:bold;
    height:115px;
    margin-left: 10rem;
    margin-top: 20rem;
    width: 421px;
}

.subtext{
    color: white;
    font-size: 18px;
    height: 78px;
    margin-left: 10rem;
    opacity: 80%;
    width: 500px;
    
}header{
    float: left;
}

.try-box{
    margin-bottom: 200px;
    margin-right: 100px;

    
}


.try-box button{
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    box-shadow:  4px 3px 10px  hsl(240, 4%, 34%);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 61px;
    margin-top: 116px;
    margin-left: 70px;
    width: 609px;

}

.try-box button span{
    opacity: 95%;
    font-weight: 100;
}

.input-box{
    width: 542px;

    align-items: center;
    background-color: white;
    box-shadow:  4px 3px 10px  hsl(240, 4%, 34%);
    border-radius: 10px;
    height: 400px;
    margin-right: 160px;
    margin-top: 22px;
    margin-left: 733px;
    padding: 35px;


}

input{
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    height: 15%;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
  }

  .input-box button{
    background-color:hsl(154, 59%, 51%);
    height: 15%;
    margin-top: 20px;
    margin-left: 5px;
    opacity: 80%;
    width: 100%;

  }

  .input-box p{
      font-size: 12px;
      padding-top: 19px;
      opacity: 70%;
      text-align: center;
  }

  .input-box span{
      color: red;
  }

  .error-msg-f, .error-msg-l, .error-msg-e, .error-msg-p {
    color: hsl(0, 100%, 74%);
    display: none;
    font-size: 10px;
    font-style: italic;
    margin: 0;
    padding-right: 10%;
    text-align: right;
  } 