body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Kumbh Sans';
    
}


main{
    width: 375px;
    height: 60%;
    background-color: white;
    border-radius: 20px;
    
}

.main, .content{
    border: none;
    margin: 0;
}

.image-container{
    margin-top: -120px;
    border-bottom: none;
}
.image-container{
    width: 250px;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(5px 35px rgb(242, 242, 242));

}
.image-container, .box{
    display: none;
}

h1{text-align: center;
    margin-top: 20%;
}

main div{
    margin: 0 auto;
    width: 90%;
    max-width: 450px;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}


main div p{
    margin: 10px 0;
    width: 95%;
    max-width: 350px;
    
}

.question{
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    color: hsl(237, 12%, 33%);
}



.answer{
    width:90%;
    font-size: .8em;
    color: hsl(240, 6%, 50%);
    
}

.display{
    display: none;
}

.arrow{
    cursor: pointer;
}
